* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    background-color: var(--secondary-bg-color);
}

:root {
    --main-bg-color: rgb(116, 116, 116);
    --secondary-bg-color: rgb(216, 216, 216);
    --main-txt-color: rgb(73, 73, 73);
 }

header {
    text-align: center;
    background-color: var(--main-bg-color);
    width: 100%;
}

#logo {
    width: 75px;
    margin: 15px;
}

h1 {
    font-size: 20pt;
}
nav {
    text-align: center;
    background-color: var(--secondary-bg-color);
    color: var(--main-txt-color);
    margin: 15px;
}

main {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 750px;
    padding: 15px;;
    background-color: var(--secondary-bg-color);
    color: var(--main-txt-color);
}

.bio {
    text-align: left;
    font-size: 14pt;
    line-height: 150%;;
}

#icon1 {
    width: 275px;
    height: 275px;
    border: 2px rgb(78, 80, 82) solid;
    border-radius: 50%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.projects {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description {

    text-align: left;
    font-size: 14pt;
}

a {
    text-decoration: none;
    
}

a:hover {
    cursor: pointer;
}

h2 {
    font-size: 18pt;
}

footer {
    color: var(--main-txt-color);
    width: 100%;
    text-align: center;
}   


@media screen and (min-width: 1000px) {

#main-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    }

main {
    display: grid;
}

.projects {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 60px;
    grid-template-rows: 60px 1fr 1fr 60px;
}
}

.first-project {
 grid-column: 2 / 4;
 grid-row: 2 / 4;
}

}