* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

/* ROOT COLORS */

:root {
    --main-bg-color: rgb(133, 149, 156);
    --secondary-bg-color: rgb(236, 236, 236);
    --main-txt-color: rgb(73, 73, 73);
    --head-text-color: rgb(48, 76, 86);
    --link-color: rgb(255, 255, 255);
 }

.warm-palette {
  background-color: rgb(250, 129, 8);
  color: rgb(78, 40, 20)

}

/* MAIN STYLING */

 body {
    font-family: 'Exo', sans-serif;
    font-size: 16pt;
    background-color: var(--secondary-bg-color);  
}

main {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 15px;;
    background-color: var(--secondary-bg-color);
    color: var(--main-txt-color);
}


.projects {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* TEXT STYLING */


header {
    text-align: center;
    /* background-color: var(--main-bg-color); */
    width: 100%;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: var(--head-text-color);
    font-size: 24pt;
    text-align: center;
}

h2 {
    font-size: 20pt;
    color: var(--head-text-color);
    margin-bottom: 40px;
    margin-top: 0px;
}


.bio {
    text-align: left;
    font-size: 16pt;
    line-height: 150%;
    padding: 15px;
    padding-top: 0;
    font-family: 'Exo', sans-serif;
}

p {
    margin-top: 20px;
}

.project-description {

    text-align: left;
    font-size: 16pt;
    line-height: 150%;
}


/* IMAGE STYLING */

#logo {
    width: 100px;
    margin: 15px;
}


#icon1 {
    width: 275px;
    height: 275px;
    border: 2px rgb(78, 80, 82) solid;
    border-radius: 50%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.image-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.image-container:hover .overlay{
    opacity: 1;
   
}

.overlay {
    
    background-color: var(--head-text-color);
    transition: .3s ease;
    opacity: 0;
    height: 100%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
}

.text {
    color: white;

}

/* NAVIGATION STYLING */

#navbar {
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--main-bg-color);
}


.sticky {
    position: fixed;
    top: 10px;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:link {
    color: var(--link-color);
}

nav > a:visited {
    color: var(--link-color);
}

footer {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    width: 100%;
    text-align: center;
    line-height: 150%;
    padding: 15px;
    bottom: 0;
}   

.footer-links > img {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.large-screen-nav-bar {
    display: none;
}

.desktop-bio {
    display: none;
}

/* MEDIA QUERY 1000PX */

@media screen and (min-width: 1000px) {

.main-container {
    display: grid;
    grid-template-columns: auto;
    }

main {
    display: grid;
    grid-template-columns: 250px 100px 600px 50px;
    grid-template-rows: auto;
}

.projects {
    margin-top: 0;
    grid-column-start: 3; 
    display: grid;
    grid-template-columns: 60px 1fr 1fr 60px;
    grid-template-rows: 60px 30px 1fr 1fr 60px;
}

.projects > h2 {
    grid-column: 2 / 4;
}

.first-project {
 grid-column: 2 / 4;
 grid-row: 3 / 5;
}

.header-navigation {
   display: none;
}
   
.large-screen-nav-bar {
    display: flex;
    /* grid-row-start: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.large-screen-nav-bar > nav {
    display: flex;
    flex-direction: column;
    line-height: 200%;
    background-color: var(--secondary-bg-color);
}

nav {
    margin-top: 30px;
}

nav > a:link {
    color: var(--main-txt-color);
}

nav > a:visited {
    color: var(--main-txt-color);
}

h1 {
    margin-bottom: 10px;
}

.tagline {
    margin-bottom: 30px;
}

.subtitles {
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
}

.desktop-bio {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 60px;
    grid-template-rows: 60px 30px 1fr 1fr 60px;
}

.bio {
    display: grid;
    grid-column-start: 3;
}
